body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background-color: #363636;
}

h1 { color: #e6c300; }

img {
  width: 90vw;
  max-width: 256px;
}

/*
let timerId:any;
snow.addEventListener('click', createSnow);

function createSnow() {
  
  if (!snow.classList.contains('active')) {
    timerId = setInterval(createSnowFlake, 50);
  }
  else {
    clearInterval(timerId);
  }
  snow.classList.toggle('active');

}

const body = document.body;
const treePage= document.querySelector('.tree-page') as HTMLElement;

function createSnowFlake() {
	const snow_flake = document.createElement('i');
	snow_flake.classList.add('fas');
	snow_flake.classList.add('fa-snowflake');
	snow_flake.style.left = Math.random() * window.innerWidth + 'px'; //
	snow_flake.style.animationDuration = Math.random() * 3 + 2 + 's'; // between 2 - 5 seconds
	snow_flake.style.opacity = Math.random().toString();
	snow_flake.style.fontSize = Math.random() * 10 + 10 + 'px';
	
  treePage.appendChild(snow_flake);
	
	setTimeout(() => {
		snow_flake.remove();
	}, 5000)
}
*/

/*
<map name="image-map">
    <area target="" alt="" title="" href="" coords="20,554,480,549" shape="poly">
    <area target="" alt="" title="" href="" coords="87,461,436,458" shape="poly">
    <area target="" alt="" title="" href="" coords="125,374,374,374" shape="poly">
    <area target="" alt="" title="" href="" coords="173,283,362,285" shape="poly">
    <area target="" alt="" title="" href="" coords="184,201,337,202" shape="poly">
    <area target="" alt="" title="" href="" coords="217,115,276,115" shape="poly">
</map>

*/

/*
function switchPage(pageFrom: HTMLElement, pageTo: HTMLElement) {
  pageFrom.classList.add('hide');
  pageTo.classList.remove('hide');
  console.log(draggable);
 
}

const toysLink = document.querySelector('#switch-toys-page') as HTMLElement;
const treeLink = document.querySelector('#switch-tree-page') as HTMLElement;
const toysPage = document.querySelector('.main-page') as HTMLElement;
//const treePage = document.querySelector('.tree-page') as HTMLElement;
console.log(toysLink)
toysLink.addEventListener('click', (e) => switchPage(treePage, toysPage));
treeLink.addEventListener('click', (e) => {
  drawSelectedCards();
  switchPage(toysPage, treePage);
  
  draggable = document.querySelectorAll('[draggable]') as NodeListOf<HTMLElement>
  console.log(draggable)

  for(var i = 0; i < draggable.length; i++) {
    draggable[i].addEventListener("dragstart", (e: DragEvent) => {handleDragStart(e);
    console.log('dragstart')});
    draggable[i].addEventListener("dragend", (e: DragEvent) => {handleDragEnd(e);
    });
  }
}); */