/* Стили для explore-section */

.explore-section__container {
    display: flex;
    @media(max-width:1405px) {
       display: block;
	}
}
.explore-section__content {
    padding-right: 60px;
    flex:1 1 auto;
    @media(max-width:1470px) {
       padding-right: 30px;
	}
    @media(max-width:1405px) {
        padding-right: 0;
        padding-bottom: 62px;
     }
     @media(max-width:768px) {
        
        padding-bottom: 0;
     }
}

.explore-section__text {
    margin: 0 0 25px;
    font-weight: 300;
    color: #FFFFFF;
    @media(max-width:1024px) {
        margin-bottom: 0;
    }
    @media(max-width:768px) {
		display: none;
	}
}
.explore-section__text_none {
    @media(max-width:1024px) {
        display: none;
    }
}
.explore-section__text:last-child {
    margin-bottom: 0;
}
.explore-section__img {
   // padding-top: 15px;
    position: relative;
    width: 720px;
    height: 700px;
    flex: 0 0 720px;
   
     @media(max-width:768px) {
        width: 100%;
        height: auto;
     }
}
.explore-section__img1 {
    width: 720px;
    height: 700px;
   // flex: 0 0 100%;
 //  width: 440px / 720px * 100%;
  // height: auto;
  @media(max-width:768px) {
    width: 100%;
    height: auto;
  }
}
.explore-section__img2 {    
    position: absolute;
    top:0;
    left:0;
    width: 440px;
    height: 700px;
    z-index: 10;
    @media(max-width:768px) {
        width: 440px / 720px * 100%;
        height: auto;
     }
}
.explore__slider {
    position: absolute;
    top:0;
   // left: 420px;
   left: 420px / 720px * 100%;
    width: 39px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    span {
        content: "";
        flex: 0 0 39px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border:5px solid #FFFFFF;
    }
    &::before {
        content: "";
        width: 5px;
        background-color: #FFFFFF;
        flex: 1 1 auto;
    }
    &::after {
        content: "";
        width: 5px;
        height: 10px;
        background-color: #FFFFFF;
        flex: 1 1 auto;
    }
}
