/* Стили для visiting-section */
.visiting-section {
    @media(max-width:768px) {
		padding-bottom: 80px !important;
	}
}
.visiting-section__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   // column-gap: 60px;
    justify-content: space-between;
    row-gap: 78px;
    @media(max-width:1353px) {
		justify-content: space-around;
	}
    @media(max-width:1024px) {
        justify-content: space-between;
		max-width: 768px;
        margin:0 auto;
        row-gap: 60px;
	}
    @media(max-width:768px) {
		max-width: 616px;
        margin:0 auto;
        row-gap: 40px;
	}
    @media(max-width:595px) {
		flex-direction: column;
	}
}
.visiting-section__card {
    
}

.card {
    display: block;
    color: inherit;
    &:hover {
        .card__title{
            &::before {
                opacity:1;
            }
        }
    }
}
.card__title {
    font-family: 'Forum', cursive;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 21px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 300px;
        height: 2px;
        background-color: $dark-red;
        @media(max-width:1024px) {
            width: 150px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color:$dark-red;
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    @media(max-width:1024px) {
		font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
	}
    @media(max-width:768px) {
		font-size: 22px;
        line-height: 34px;   
	}
}

.card__img {
    width: 440px;
    height: 285px;
    margin-bottom: 25px;
    @media(max-width:1024px) {
		width: 330px;
        height: 215px;
	}
    @media(max-width:768px) {
		width: 280px;
        height: 180px;
	}
}

.card__subtitle {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    @media(max-width:1024px) {
		font-size: 20px;
        line-height: 23px;
	}
    @media(max-width:768px) {
		font-size: 18px;
        line-height: 21px;
	}
}

.card__info {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    @media(max-width:1024px) {
		font-size: 16px;
        line-height: 19px;
	}
}