/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

$bg-light: #dddddd;
$dark-red: #660033;
$bg-gold: #9d8665;
$gray:  #696969;// #555555; //#c4c4c4
$light-gray:#c4c4c4;


@import './main-page.scss';
@import './categories.scss';
@import './question.scss';
@import './settings.scss';
@import './modal.scss';

/* Общие стили */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $gray;
}

.main-screen,
.categories,
.question-pictures, .settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;

  @media (max-width: 1024px) {
    max-width: 1000px;
  }
  @media (max-width: 768px) {
    max-width: 758px;
  }
  @media (max-width: 420px) {
    max-width: 400px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
}

img {
  max-width: 100%;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

.hide {
  display: none;
 // transform: translateX(-150%);
 //transform: translateX(-150%);
}
.visuallyhide {
 // opacity: 0;
 //transform: translateX(-150%);
//animation-name: circle;
//animation-duration: 1s;
//animation-timing-function: ease;
}

.categories {

  transition: all 1s ease 0s;
}

.logo {
  background-image: url("../assets/img/splash.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 200px;
  margin-bottom: 20px;
  width: 250px;
}

.text {
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}
.text__bold {
  font-weight: 700;
}

.buttons-container {
  padding-top: 100px;
}
.button {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  height: 50px;
  background: $dark-red;
}
.button-settings {
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.empty {
  width: 155px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 20px;
  padding: 20px 0;
  z-index: 10;
  @media (max-width: 460px) {
    flex-direction: column;
    height: 150px;
  }
}
.footer__rs {
  background: url('../assets/svg/rs.svg') center no-repeat;
  background-size: contain;
  width: 165px;
  height: 45px;
}