/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

$bg-light: #dddddd;
$dark-red: #660033;
$bg-gold: #9d8665;
$gray:  #696969;// #555555; //#c4c4c4
$light-gray:#c4c4c4;


@import './main-page.scss';
@import './categories.scss';
@import './question.scss';


/* Общие стили */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $gray;
}

.main-screen,
.categories,
.question-pictures {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;

  @media (max-width: 1024px) {
    max-width: 1014px;
  }
  @media (max-width: 768px) {
    max-width: 758px;
  }
  @media (max-width: 420px) {
    max-width: 410px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
}

img {
  max-width: 100%;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

.hide {
  display: none;
 // transform: translateX(-150%);
 //transform: translateX(-150%);
}
.visuallyhide {
 // opacity: 0;
 //transform: translateX(-150%);
//animation-name: circle;
//animation-duration: 1s;
//animation-timing-function: ease;
}
@keyframes remove{

  0%{
  opacity: 1;
  }
  100%{
    opacity: 0;
  }
  }

  @keyframes add{

    0%{
    opacity: 0;
    }
    100%{
      opacity: 1;
    }
    }

.categories {
 // transform: translateX(0px);
 //transform: translateX(-150%);
 
 //transition: all 1s ease 0s;
}
 .categories {
 // transform: translateX(0px);

  transition: all 1s ease 0s;
 }

.logo {
  background-image: url("../assets/img/splash.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 200px;
  margin-bottom: 20px;
  width: 250px;
}

.text {
  text-transform: uppercase;
}
.text__bold {
  font-weight: 700;
}

.buttons-container {
  padding-top: 100px;
}
.button {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  height: 50px;
  background: $dark-red;
}
.button-settings {
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.empty {
  width: 155px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
  z-index: 100;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.open .modal__content {
  opacity: 1;
  transform: translate(0px, 0px);
}
.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 24px 91px 45px;
  transform: translate(-150%, 0px);
  // opacity: 0;
  transition: all 0.8s ease 0s;
}
.modal__close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 30px;
  right: 30px;
  color: #000000;
  // background: url("../assets/svg/form/Close.svg");
}

.modal__img {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 78%);
}

.modal__title {
  margin-top: 35px;
}
.modal__title,
.modal__author,
.modal__year {
  margin-bottom: 20px;
}
.modal__answer {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.modal__cong {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-top: 25px;
  margin-bottom: 65px;
}

.modal__result {
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  margin-bottom: 50px;
}
.modal__good {
  width: 200px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../assets/img/congrats.png");
  margin-bottom: 110px;
}
.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.wrong {
  background-image: url("../assets/svg/wrong.svg");
}
.correct {
  background-image: url("../assets/svg/correct.svg");
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 20px;
  padding: 20px 0;
  z-index: 10;
}
.footer__rs {
  background: url('../assets/svg/rs.svg') center no-repeat;
  background-size: contain;
  width: 165px;
  height: 45px;
}