.gallery-section {
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

.gallery-section__title {
    margin-bottom: 75px;
    @media(max-width:1024px) {
        margin-bottom: 60px;
    }
    @media(max-width:768px) {
        margin-bottom: 40px;
    }
}

.picture-container {  
    overflow-y: hidden;
   // width: 1440px;
    height: 1960px;
    position: relative;
    @media(max-width:1024px) {
        height: 1265px;
      }
      @media(max-width:768px) {
        height: 1080px;
      }
      @media(max-width:420px) {
        height: 637px;
      }
}

.picture-overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    width: 100%;
    height: 360px;
    bottom: 0;
}
.picture-inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
    height: 2996px;
  //  width: 1440px;
   @media(max-width:1024px) {
      height: 2046px;
   }
   @media(max-width:768px) {
      height: 3738px;
      column-gap: 12px;
   }
}
.picture-inner-container  {
    
   
}
.gallery-img {
   // width: 456px;
    width: calc(33.3% - 18px);
    max-width: 100%;
    @media(max-width:768px) {
        width: calc(50% - 12px);
    }
}
.picture-inner-container {
    img:nth-child(3n+1)  { 
        order: 1;
    }
    img:nth-child(3n+2)  { 
        order: 2;
    }
    img:nth-child(3n)  { 
        order: 3;
    }
    @media(max-width:768px) {
        img:nth-child(2n+1)  { 
            order: 1;
        }
        img:nth-child(2n)  { 
            order: 2;
        }
    }
}

/*
.picture-inner-container { 
    img:nth-child(5 - n) {
     order: 1; 
    }
    img:nth-child(n + 6):nth-child(10 - n) {
        order: 2; 
    }
    img:nth-child(n + 11):nth-child(15 - n) {
        order: 3;
    }
 }*/

.picture-inner-container::before,
.picture-inner-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.picture-inner-container {
    img:nth-child(1) {
      padding-top:50px;
    }
    img:nth-child(3) {
      padding-top:50px;
    }
    @media(max-width:768px) {
        img:nth-child(1) {
            padding-top:50px;
          }
         img:nth-child(3) {
            padding-top:0px;
          }
    }
}
