body {
  min-height: 100vh;
  color: white;
  text-transform: uppercase;
  background-color: #363636;
}

h1 { color: #e6c300; }

.car-wrapper {
  display: flex;
  height: 45px;
  border-bottom: 1px solid;
}
li {
  list-style: none;
  padding-top: 30px
}

.car-buttons {
  margin-bottom: 10px;
}

.control-panel {
  margin-right: 20px;
}

